*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: black;
    padding: 20px;
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu{
    display: flex;
}
.logo-photo{
    width: 120px;
}
.items{
    margin: 0px 10px 0px 10px;
    padding: 7px;
    font-size: 18px;
    cursor: pointer;

}

.items:hover{
    color: lightgreen;
    background-color: lightseagreen;
    border-radius: 5px;
    
}

.banner-image{
    width: 300px;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    color: white;
    background-image: url("/images/background.png"), linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.banner-titel{
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding:10px 20px ;
    color: white;
    background-color: red;
    border-radius: 10px;
}

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-direction: row-reverse;
}
.banner-image{
    width: 300px;
}